[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SorptionAnalysis"]
	path = SorptionAnalysis
	url = https://github.com/aurnovcy/sorptionanalysis
	shallow = true
	registered = true
